<li>
    <a href="{{ site_url }}staff/view/{{ staff.id }}">
        <figure class="row">
            <img src="{{ staff.images.0.url|imageSize('100x100') }}" class="col-xs-4 img-responsive">
            <figcaption class="col-xs-8">
                <h3>{{ staff.header }}</h3>
                <time>{{ staff.published|date('d M Y | H:i') }}</time>
            </figcaption>
        </figure>
    </a>
</li>