<li>
    <a href="{{ site_url }}event/view/{{ event.id }}">
        <figure class="row">
            <img src="{{ event.image }}" class="col-xs-4 img-responsive">
            <figcaption class="col-xs-8">
                <h3>{{ event.header }}</h3>
                <time>{{ event.published|date('d M Y | H:i') }}</time>
            </figcaption>
        </figure>
    </a>
</li>