{% extends "shell.twig" %}

{% block title %} Arrangementer | Maskinbladet.dk {% endblock %}

{% block content %}
    <h2 class="header">Arrangementer</h2>
    <div id="news-list-latest-pos2" class="news-list simple">
        {% include "partial/events/list.twig" with {'events' : events } only %}
    </div>



{% endblock %}