{% extends "shell.twig" %}

{% block title %} {#{{ event.header }}#} | Arrangementer | Maskinbladet.dk {% endblock %}

{% block content %}
    <div class="row">
    <div class="col-sm-12">Arrangementer? Coming soon...
        {#<div class="thumbnail">
            <img src="{{ event.images.0.url }}" class="col-xs-12 img-responsive">

            <div class="caption">
                <p>{{ event.images.0.title }}</p>
            </div>
        </div>

        <h2>{{ article.header }}</h2>
        <time>{{ event.published|date('d M Y | H:i') }}</time>

        {{ event.bodytext|raw }}#}
    </div>



{% endblock %}