{% extends "shell.twig" %}

{% block content %}
    <h2 class="header">Nyheder</h2>

    <div id="news-list-big" class="news-list big">
        {% include "partial/news/item-featured.twig" with {'article' : featured } only %}
    </div>

    <div id="news-list-two-columns-pos1" class="news-list two-columns">
        {% include "partial/news/grid.twig" with {'articles' : breakingGrid1 } only %}
    </div>

    <div class="banner">
        <script type='text/javascript'>
            var m3_u = (location.protocol == 'https:' ? 'https://adserver.fbg.dk/www/delivery/ajs.php' : 'http://adserver.fbg.dk/www/delivery/ajs.php');
            var m3_r = Math.floor(Math.random() * 99999999999);
            if (!document.MAX_used) document.MAX_used = ',';
            document.write("<scr" + "ipt type='text/javascript' src='" + m3_u);
            document.write("?zoneid=119");
            document.write('&cb=' + m3_r);
            if (document.MAX_used != ',') document.write("&exclude=" + document.MAX_used);
            document.write(document.charset ? '&charset=' + document.charset : (document.characterSet ? '&charset=' + document.characterSet : ''));
            document.write("&loc=" + escape(window.location));
            if (document.referrer) document.write("&referer=" + escape(document.referrer));
            if (document.context) document.write("&context=" + escape(document.context));
            if (document.mmm_fo) document.write("&mmm_fo=1");
            document.write("'><\/scr" + "ipt>");
        </script>
        <noscript>
            <a href='http://adserver.fbg.dk/www/delivery/ck.php?n=a1e4a6cd&cb=123456' target='_blank'>
                <img src='http://adserver.fbg.dk/www/delivery/avw.php?zoneid=119&cb=123456&n=a1e4a6cd' border='0' alt=''/>
            </a>
        </noscript>
    </div>

    <div id="news-list-two-columns-pos2" class="news-list two-columns">
        {% include "partial/news/grid.twig" with {'articles' : breakingGrid2 } only %}
    </div>

    <div class="banner">
        <script type='text/javascript'>
            var m3_u = (location.protocol == 'https:' ? 'https://adserver.fbg.dk/www/delivery/ajs.php' : 'http://adserver.fbg.dk/www/delivery/ajs.php');
            var m3_r = Math.floor(Math.random() * 99999999999);
            if (!document.MAX_used) document.MAX_used = ',';
            document.write("<scr" + "ipt type='text/javascript' src='" + m3_u);
            document.write("?zoneid=119");
            document.write('&cb=' + m3_r);
            if (document.MAX_used != ',') document.write("&exclude=" + document.MAX_used);
            document.write(document.charset ? '&charset=' + document.charset : (document.characterSet ? '&charset=' + document.characterSet : ''));
            document.write("&loc=" + escape(window.location));
            if (document.referrer) document.write("&referer=" + escape(document.referrer));
            if (document.context) document.write("&context=" + escape(document.context));
            if (document.mmm_fo) document.write("&mmm_fo=1");
            document.write("'><\/scr" + "ipt>");
        </script>
        <noscript>
            <a href='http://adserver.fbg.dk/www/delivery/ck.php?n=a1e4a6cd&cb=123456' target='_blank'>
                <img src='http://adserver.fbg.dk/www/delivery/avw.php?zoneid=119&cb=123456&n=a1e4a6cd' border='0' alt=''/>
            </a>
        </noscript>
    </div>

    <div id="news-list-popular" class="news-list simple">
        {% include "partial/news/list.twig" with {'articles' : breakingList } only %}
    </div>

    <h2 class="header overline">MEST LÆSTE NYHEDER</h2>

    <div id="news-list-latest-pos1" class="news-list simple">
        {% include "partial/news/list.twig" with {'articles' : latestList1 } only %}
    </div>

    <div class="banner">
        <script type='text/javascript'>
            var m3_u = (location.protocol == 'https:' ? 'https://adserver.fbg.dk/www/delivery/ajs.php' : 'http://adserver.fbg.dk/www/delivery/ajs.php');
            var m3_r = Math.floor(Math.random() * 99999999999);
            if (!document.MAX_used) document.MAX_used = ',';
            document.write("<scr" + "ipt type='text/javascript' src='" + m3_u);
            document.write("?zoneid=119");
            document.write('&cb=' + m3_r);
            if (document.MAX_used != ',') document.write("&exclude=" + document.MAX_used);
            document.write(document.charset ? '&charset=' + document.charset : (document.characterSet ? '&charset=' + document.characterSet : ''));
            document.write("&loc=" + escape(window.location));
            if (document.referrer) document.write("&referer=" + escape(document.referrer));
            if (document.context) document.write("&context=" + escape(document.context));
            if (document.mmm_fo) document.write("&mmm_fo=1");
            document.write("'><\/scr" + "ipt>");
        </script>
        <noscript>
            <a href='http://adserver.fbg.dk/www/delivery/ck.php?n=a1e4a6cd&cb=123456' target='_blank'>
                <img src='http://adserver.fbg.dk/www/delivery/avw.php?zoneid=119&cb=123456&n=a1e4a6cd' border='0' alt=''/>
            </a>
        </noscript>
    </div>

    <div id="news-list-latest-pos2" class="news-list simple">
        {% include "partial/news/list.twig" with {'articles' : latestList2 } only %}
    </div>

    <h2 class="header overline">ARRANGEMENTER</h2>

    <div id="event-list" class="event-list simple">
        {% include "partial/events/list.twig" with {'events' : events } only %}
    </div>

    <h2 class="header overline">NYT OM NAVNE</h2>

    <div id="staff-list" class="staff-list simple">
        {% include "partial/staff/list.twig" with {'staff' : staff } only %}
    </div>
{% endblock %}