{% extends "shell.twig" %}

{% block title %} Søg Nyheder | Maskinbladet.dk {% endblock %}

{% block content %}
    <h2 class="header">Søg Nyheder</h2>


    <div id="news-list-latest-pos2" class="news-list simple">
        {% include "partial/news/list.twig" with {'articles' : articles } only %}
    </div>

{% endblock %}