{% extends "shell.twig" %}

{% block title %} {{ article.header }} | Nyheder | Maskinbladet.dk {% endblock %}

{% block content %}
    <div class="row">
    <div class="col-sm-12">
        <div class="thumbnail">
            <img src="{{ article.images.0.url }}" class="col-xs-12 img-responsive">

            <div class="caption">
                <p>{{ article.images.0.title }}</p>
            </div>
        </div>

        <h2>{{ article.header }}</h2>
        <time>{{ article.published|date('d M Y | H:i') }}</time>

        {{ article.bodytext|raw }}
    </div>



{% endblock %}