<!DOCTYPE html>
<html>
<head>
    {% block meta %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}{% endblock %}Maskinbladet.dk</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

        <link href="{{ site_url }}css/bootstrap.css" rel="stylesheet" type="text/css">
        <link href="{{ site_url }}css/bootstrap-theme.min.css" rel="stylesheet" type="text/css">
        <link href="{{ site_url }}css/jasny-bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="{{ site_url }}css/grid.css" rel="stylesheet" type="text/css">
        <link href="{{ site_url }}css/base.css" rel="stylesheet" type="text/css">

        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="{{site_url}}js/respond.min.js"></script>
        <![endif]-->
    {% endblock %}
</head>
<body id="body">

<div id="base">
    <header>
        <nav id="main-nav" class="navmenu navmenu-default navmenu-fixed-right offcanvas" role="navigation">

            <ul class="nav navmenu-nav">
                {% include "partial/menu.twig" %}
            </ul>

        </nav>
        <div class="navbar navbar-default navbar-fixed-top">
            <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target="#main-nav"
                    data-canvas="body">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="{{site_url}}" class="navbar-brand" id="logo">
                <img src="{{ site_url }}images/logo.png" class="img-responsive">
            </a>
        </div>
    </header>

    <section id="content">
        {% block content %}{% endblock %}
    </section>
</div>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{{ site_url }}js/jquery-1.11.1.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{{ site_url }}js/bootstrap.min.js"></script>
<script src="{{ site_url }}js/jasny-bootstrap.min.js"></script>
</body>
</html>