{% extends "shell.twig" %}

{% block title %} Nyt om navne | Maskinbladet.dk {% endblock %}

{% block content %}
    <h2 class="header">Nyt om navne</h2>
    <div id="news-list-latest-pos2" class="news-list simple">
        {% include "partial/staff/list.twig" with {'staff' : staff } only %}
    </div>



{% endblock %}