<li>
    <a href="{{ site_url }}news/view/{{ article.id }}">
        <figure class="row">
            <img src="{{ article.images.0.url|imageSize('100x100') }}" class="col-xs-4 img-responsive">
            <figcaption class="col-xs-8">
                <h3>{{ article.header }}</h3>
                <time>{{ article.published|date('d M Y | H:i') }}</time>
            </figcaption>
        </figure>
    </a>
</li>