<a href="{{ site_url }}news/view/{{ article.id }}">
    <figure>
        <img src="{{ article.images.0.url }}" class="img-responsive">
        <figcaption>
            <h3>{{ article.header }}</h3>
            <time>{{ article.published|date('d M Y | H:i') }}</time>
        </figcaption>
    </figure>
</a>