{% for path, name in config.menu %}
    {% if name is iterable %}
        <li>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ path|e }} <span class="caret"><i
                            class="glyphicon glyphicon-chevron-down"></i></span></a>
            <ul class="dropdown-menu navmenu-nav">
                {% for subpath, subname in name %}
                    <li><a href="{{ site_url }}{{ subpath }}">{{ subname|e }}</a></li>
                {% endfor %}
            </ul>
        </li>
    {% else %}
        <li><a href="{{ site_url }}{{ path }}">{{ name|e }}</a></li>
    {% endif %}
{% endfor %}